@define-color rosewater #dcdcdc;
@define-color flamingo #d1d1d1;
@define-color pink #c7c7c7;
@define-color mauve #bfbfbf;
@define-color red #b5b5b5;
@define-color maroon #ababab;
@define-color peach #a1a1a1;
@define-color yellow #979797;
@define-color green #8d8d8d;
@define-color teal #838383;
@define-color sky #797979;
@define-color sapphire #6f6f6f;
@define-color blue #656565;
@define-color lavender #5b5b5b;
@define-color text #e0e0e0;
@define-color subtext1 #c8c8c8;
@define-color subtext0 #b0b0b0;
@define-color overlay2 #989898;
@define-color overlay1 #828282;
@define-color overlay0 #6c6c6c;
@define-color surface2 #565656;
@define-color surface1 #404040;
@define-color surface0 #2a2a2a;
@define-color base #1f1f1f;
@define-color mantle #171717;
@define-color crust #0f0f0f;

